
/*
-------------------------INTRO------------------------------- */

.photo-wrapper{
  display: flex;
  position: relative;
  margin-top: 10vh;
  margin-bottom: 7vh;
}
.photo-left{
  flex: 0 0 40%;
  @include respond-width($w-m-s){
    flex: 0 0 30%;
  }
}
.photo-right{
  position: relative;
  flex: 0 0 60%;
  @include respond-width($w-m-s){
    flex: 0 0 70%;
  }
}

.main-intro {
  position: relative;
  height: 373px;
  @include respond-width($w-s){
    margin-top: 0px;
    height: 300px;
  }
  @include respond-width($w-xs){
    height: 200px;
  }
  .intro {
    z-index: 100;
    position: relative;
    top: 50%;
    transform: translate(0 , -50%);
    @include respond-width($w-l){
      font-size: 28pt;
      line-height: 135%;
    }
    @include respond-width($w-m-s){
      font-size: 27pt;
    }
    @include respond-width($w-s){
      top: -30%;
      transform: none;
      font-size: 30px;
    }
    @include respond-width($w-xs){
      top: -50%;
      font-size: 23px;
    }
    br{
      @include respond-width($w-xs){
        display: none;
      }
    }
  }


  .me-photo {
    width: 620px;
    height: 100%;
    overflow: hidden;
    position: relative;
    //position: absolute;
    top: 0;
    left: 0;
    background-color: $blue;
    @include respond-width($w-s){
      position: relative;
      margin: 0 auto;
      max-width: 100%;
    }

    img {
      width: 100%;
      top: -120%;
      left: 0%;
      position: relative;
      mix-blend-mode: soft-light;
    }
  }
}


/*
-------------------------OPIS-HISTORIA------------------------------- */


.opis-ogolny {
  display: flex;
  margin-bottom: 25vh;
  @include respond-width($w-s){
    display: block;
  }

  .kariera {
    flex: 0 0 60%;
    @include respond-width($w-m-s){
      flex: 0 0 70%;
    }
  }

  .opis {
    font-family: "PPNeueMontreal";
    font-size: 18px;
    line-height: 200%;
    max-width: 620px;
    @include respond-width($w-l){
      line-height: 180%;
    }
    @include respond-width($w-m-s){
      font-size: 16px;
    }
  }

  .lata {
    font-family: "Monument";
    font-size: 50px;
    flex: 0 0 40%;
    text-align: left;
    margin-top: 25px;
    position: relative;
    top: 20px;
    height: 150px;
    @include respond-width($w-l){
      font-size: 35px;
    }
    @include respond-width($w-m-s){
      flex: 0 0 40%;
    }
    @include respond-width($w-s){
      margin-bottom: 0px;
      height: 100px;
    }
    @include respond-width($w-xs){
      font-size: 30px;
    }
  }
}
