.section-activate{

  &.activaded{
    &.project-one,
    &.project-title{
      //&:after{
      //  width: 100%;
      //  will-change: unset;
      //}
    }
    .photo-activate{
      &:after{
        transform: translate(100% , 0%);
        animation: ani-img-overlay 1s forwards;
        will-change: unset;
      }
      img{
        transition: $easein opacity 0s;
        transition-delay: 0.4s;
        opacity: 1;
        animation: ani-img-scale 1s forwards;
        animation-delay: 0.6s;
      }
    }
    .text-activate-move{
      .text{
        transform: translate(0 , 0%);
        will-change: unset;
      }
    }
    .text-activate{
      opacity: 1;
      will-change: unset;
    }
  }// activated section styling end


  //*************************************************************
  // Photo animate
  //*************************************************************

  .photo-activate{
    &:after{
      content: '';
      height: 100%;
      background: $white;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      transition: linear transform 1s;
      transform: translate( -100% , 0%);
      will-change: transform;
    }
    img{
      transform: scale(1.3);
      opacity: 0;
    }
  }


  //*************************************************************
  // text animate opacity
  //*************************************************************

  .text-activate{
    opacity: 0;
    transition: $easein opacity 0.4s;
    // will-change: opacity;
    &.second{
      transition-delay: 0.2s;
    }
    &.third{
      transition-delay: 0.4s;
    }
    &.four{
      transition-delay: 0.6s;
    }
  }

  //*************************************************************
  // text animate move in
  //*************************************************************
  .text-activate-move{
    overflow: hidden;
    .text{
      transition: $easein transform 0.5s;
      transform: translate(0 , 100%);
      display: inline-block;
      position: relative;
      // will-change: transform;
    }
    &.second .text{
      transition-delay: 0.2s;
    }
    &.third .text{
      transition-delay: 0.4s;
    }
    &.four .text{
      transition-delay: 0.6s;
    }
    &:nth-child(1){
      .text{
        transition-delay: 0.1s;
      }
    }
    &:nth-child(2){
      .text{
        transition-delay: 0.2s;
      }
    }
    &:nth-child(3){
      .text{
        transition-delay: 0.3s;
      }
    }
    &:nth-child(4){
      .text{
        transition-delay: 0.4s;
      }
    }
    &:nth-child(5){
      .text{
        transition-delay: 0.5s;
      }
    }
    &:nth-child(6){
      .text{
        transition-delay: 0.6s;
      }
    }
    &:nth-child(7){
      .text{
        transition-delay: 0.7s;
      }
    }
    &:nth-child(8){
      .text{
        transition-delay: 0.8s;
      }
    }
    &:nth-child(9){
      .text{
        transition-delay: 0.9s;
      }
    }
    &:nth-child(10){
      .text{
        transition-delay: 1s;
      }
    }
    &:nth-child(11){
      .text{
        transition-delay: 1.1s;
      }
    }
    &:nth-child(12){
      .text{
        transition-delay: 1.2s;
      }
    }
    &:nth-child(13){
      .text{
        transition-delay: 1.3s;
      }
    }

  }

  //*************************************************************
  // PROJECTS SECTION SPECIAL STYLE
  //*************************************************************

  &.project-one{
    .text-activate{
      transition-delay: 0.5s;
    }
    .text-activate-move{
      .text{
        // transition-delay: 1s;
        will-change: transform;
      }
    }
  }

  &.project-one,
  &.project-title{ // special :after element line animation in Projects section
    &:after{
      transition: $easein width 1.3s;
      transition-delay: 0s;
      width: 0%;
      // will-change: width;
    }
  }

  //*************************************************************
  // ME-PHOTO SECTION SPECIAL STYLE
  //*************************************************************

  .intro{ // special delay for me-photo section
    .text-activate{
      transition: $easein opacity 0.4s;
      &:nth-child(1){
        transition-delay: 0.8s;
      }
      &:nth-child(2){
        transition-delay: 1s;
      }
      &:nth-child(3){
        transition-delay: 1.2s;
      }
      &:nth-child(4){
        transition-delay: 1.4s;
      }
    }
  }

}// section-activate

// @keyframes ani-img-overlay {
//   0% {width: 0px; left: 0px; right:inherit ; }
//   45% {width:  100%; left: 0px; right:inherit;  }
//   55% {width:  100%; left: inherit; right:0px; }
//   100% {width:  0%; left: inherit; right:0px;  }
// }
@keyframes ani-img-overlay {
  0% {transform : translate( -100% , 0%)}
  45% {transform : translate(0% , 0%)  }
  55% {transform : translate(0% , 0%)  }
  100% {transform : translate( 100% , 0%) }
}

@keyframes ani-img-scale {
  from {transform: scale(1.3);}
  to {transform: scale(1)}
}
