.project-page {
  font-family: "PPNeueMontreal";

  .header-h1 {
    font-family: "Monument";
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  .header-h2 {
    font-family: "Monument";
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  .header-project-description {
    max-width: 748px;
    line-height: 190%;
    letter-spacing: 0.02em;
  }

  .text-base {
    font-family: "PPNeueMontreal";
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 160%;
  }

  ul {
    padding-left: 16px;
  }

  strong {
    font-family: "PPNeueMontrealMedium";
    font-weight: bold;
  }

  .text-sm {
    font-family: "PPNeueMontreal";
    font-size: 12px;
  }

  .stat-value {
    padding-top: 3px;
  }

  .menu-text {
    a {
      text-decoration: none;
    }
  }

  .header-stats {
    display: flex;
    justify-content: space-between;
  }

  .padding-right-m {
    padding-right: 40px;
  }

  .padding-top-xs {
    padding-top: 20px;
  }

  .padding-top-xxs {
    padding-top: 10px;
  }

  .padding-top-s {
    padding-top: 30px;
  }

  .padding-top-m {
    padding-top: 40px;
  }

  .margin-top-xl {
    margin-top: 80px;
  }

  .padding-top-xl {
    padding-top: 80px;
  }

  .padding-top-l {
    padding-top: 50px;
  }

  .padding-bottom-l {
    padding-bottom: 50px;
  }

  .project-block {
    display: flex;
    align-items: center;

    &.align-top {
      align-items: baseline;
    }
  }

  .opis-ogolny .lata {
    font-size: 16px;
    font-family: "PPNeueMontreal";
    font-weight: 400;
    flex: 0 0 35%;
    margin-top: 0;
  }

  .opis-ogolny .kariera {
    flex: 0 0 65%;
  }

  .jk-nav-track {
    .text {
      &:before {
        content: "•";
        font-size: 25px;
        font-weight: bold;
        bottom: 2px;
        position: relative;
        display: inline-block;
        width: 0px;
        overflow: hidden;
        vertical-align: middle;
        transition: ease all 0.3s;
        font-family: "sans-serif";
        padding-right: 0px;
      }
    }

    &.active {
      .text {
        &:before {
          padding-right: 5px;
          width: 15px;
          text-align: center;
        }
      }
    }
  }

  #screenLock {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #0e0e0e;
  }
}