.project-page {
  font-family: "PPNeueMontreal";

  .header-h1 {
    font-family: "Monument";
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  .header-h2 {
    font-family: "Monument";
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  .text-base{
    font-family: "PPNeueMontreal";
font-size: 16px;
  }
  .text-sm{
    font-family: "PPNeueMontreal";
    font-size: 12px;
  }
.menu-text{
  a{
    text-decoration: none;
  }
}
  .header-stats{
    display: flex;
    justify-content: space-between;
  }

  .padding-right-m {
    padding-right: 40px;
  }

  .padding-top-xs {
    padding-top: 20px;
  }
  .padding-top-s {
    padding-top: 30px;
  }
  .padding-top-m {
    padding-top: 40px;
  }

  .margin-top-xl {
    margin-top: 80px;
  }
  .padding-top-xl {
    padding-top: 80px;
  }

  .padding-top-l {
    padding-top: 50px;
  }

  .padding-bottom-l {
    padding-bottom: 50px;
  }

  .project-block {
    display: flex;
  }

  .opis-ogolny .lata {
    font-size: 16px;
    font-family: "PPNeueMontreal";
    font-weight: 400;
    flex: 0 0 35%;
    margin-top: 0;
  }
  .opis-ogolny .kariera{
    flex: 0 0 65%;
  }
}