.project-page{
  font-family: "PPNeueMontreal";
  .header-h1{
    font-family: "Monument";
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  .padding-top-m{
    padding-top: 40px;
  }
  .padding-top-l{
    padding-top: 50px;
  }
  .padding-bottom-l{
    padding-bottom: 50px;
  }
}