/*
-------------------------PROJEKTY-TABELA------------------------------- */

.projects-wrapper {
  display: grid;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  @include respond-width($w-m){
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  a.project-one {
    color: $white;
  }

  .project-one {
    color: $white;
    position: relative;
    grid-row: span 2;
    overflow: hidden;
    border-radius: 25px;

    &.project-hidden{
      opacity: 0;
      pointer-events: none;
      height: 0;
      @include respond-width($w-s){
        display: none;
      }
    }

    &:hover {
      .project-bg {
        filter: grayscale(0);
        transform: scale(1.05);
      }

      .project-content-bottom {
        height: 20px;
        padding-top: 12px;
      }
    }
  }

  .project-push-down {
    top: 80px;
    @include respond-width($w-s){
      top: 0;
    }
  }

  .project-bg {
    position: relative;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    transform: scale(1);
    filter: grayscale(1);
    transition: ease all 0.3s;
    z-index: -1;
    height: 100%;
    @include respond-width($w-s){
      filter: initial;
    }
  }

  .case-study-label {
    font-family: "PPNeueMontreal";
    position: absolute;
    text-transform: uppercase;
    top: 20px;
    font-size: 14px;
    left: 20px;
    color: $blue;
    background: $white;
    padding: 5px 12px 5px 25px;
    border-radius: 20px;

    .case-dot {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      font-family: "sans-serif";
      font-size: 27px;
      line-height: 0;
    }
  }

  .project-content-wrapper {
    text-align: left;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
  }

  .project-content-bottom {
    transition: ease all 0.3s;
    height: 0;
    padding-top: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    @include respond-width($w-s){
      height: 20px;
      padding-top: 12px;
    }
  }
}

.projects-main {
  margin-bottom: 225px;
  @include respond-width($w-m) {
    margin-bottom: 350px;
  }
  @include respond-width($w-m-s) {
    margin-bottom: 200px;
  }


  .project-name {
    font-family: "Monument";
    font-size: 28px;
    line-height: 100%;
    @include respond-width($w-m) {
      font-size: 28px;
    }
    @include respond-width($w-xs) {
      text-align: left;
      font-size: 30px;
    }
  }

  .title {
    font-family: "PPNeueMontreal";
    font-size: 25px;
    line-height: 200%;
    @include respond-width($w-m) {
      font-size: 20px;
    }
    @include respond-width($w-s) {
      font-size: 18px;
    }
  }

  .title-agency {
    font-family: "PPNeueMontreal";
    font-size: 14px;
    @include respond-width($w-s) {
      font-size: 12px;
    }
  }
}

.project-title {
  padding-bottom: 135px;
  @include respond-width($w-s) {
    padding-bottom: 40px;
  }

  .title {
    font-family: "Monument";
    font-size: 50px;
    text-transform: uppercase;
    line-height: 100%;
    @include respond-width($w-s) {
      font-size: 30px;
      width: auto;
      padding-right: 20px;
    }
  }
}

.title-year {
  font-family: "PPNeueMontreal";
  font-size: 25px;
  line-height: 200%;
  //width: 20%;
  position: relative;
  display: inline-block;
  @include respond-width($w-m) {
    font-size: 20px;
  }
  @include respond-width($w-s) {
    width: auto;
    padding-right: 20px;
    font-size: 18px;
  }
}

.hover-imgs-holder {
  position: relative;
  width: 100%;
  height: 0px;
  pointer-events: none;

  &.active {
    img {
      transform-style: preserve-3d;
      transform-origin: 50% 50%;
      opacity: 1;
    }
  }

  img {
    transition: linear opacity 0.3s;
    max-width: 600px;
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    position: absolute;
    @include respond-width($w-l) {
      max-width: 480px;
    }
    @include respond-width($w-m) {
      max-width: 400px;
    }
    @include respond-width($w-m-s) {
      max-width: 350px;
    }
  }
}
